@inherits LayoutComponentBase
@implements IDisposable
@inject MissionControl.Services.LoginState LoginState
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTitle>Jedi system</PageTitle>

<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .page {
        background-image: url('/Images/bg.png');
       
    }

</style>

@if (showLayout)
{
    <div class="page @BodyCssClass">

        @if (LoginState.IsLoggedIn && !IsLoginPage)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }

        <main>
            <article class="content @(IsLoginPage ? "" : "px-4")">
                @Body
            </article>
        </main>
    </div>
}
else
{
    <div class="text-center p-5">
        <em>Loading Jedi state...</em>
    </div>
}

@code {
    private bool showLayout = false;

    private bool IsLoginPage =>
        Navigation.Uri.EndsWith("/") || Navigation.Uri.EndsWith("/index") || Navigation.Uri.Contains("/login");

    private string BodyCssClass => IsLoginPage ? "login-page" : "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoginState.RestoreFromLocalStorageAsync(LocalStorage);
            showLayout = true;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        LoginState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        LoginState.OnChange -= StateHasChanged;
    }
}
