<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MissionControl.Client</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    
    <nav class="nav flex-column">
      
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createmission">
                <span class="bi bi-plus me-2" aria-hidden="true"></span> Create mission
            </NavLink>
        </div>

    </nav>
</div>

