@inject MissionControl.Services.LoginState LoginState
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MissionControl.Client</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">

    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createmission">
                <span class="bi bi-plus me-2" aria-hidden="true"></span> Create mission
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registerjedi">
                <span class="bi bi-plus me-2" aria-hidden="true"></span> Add Jedi Knight
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listmissions">
                <span class="bi bi-plus me-2" aria-hidden="true"></span> List of missions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listmissions">
                @if (LoginState.IsLoggedIn)
                {
                    <button class="btn btn-outline-light btn-sm me-3" @onclick="Logout">Logout</button>
                }
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private async Task Logout()
    {
        await LocalStorage.ClearAsync();
        Navigation.NavigateTo("/");
    }
}